
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Super Donor Output Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Donor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/input">Home</a></li>
            <li><a href="/presentation">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
<br><br>

 <div class="container">
    <div class="starter-template">
        <h1>{{ detection_message }}</h1>
    </div>
</div>

    <div class="container">
      <div class="starter-template">
        <h3>Your Donor Features:</h3>
        <!--<p class="lead">This is your donor:</p> -->
      </div>

    
      <table class="table table-hover"> 
        <tr><th>Bank</th><th>Donor ID</th><th>Weight</th><th>Eye Color</th><th>Group Size</th><th>Description</th><th>
        {% for donor in donors %} 
        <tr><td>{{ donor['bankid'] }}</td><td>{{ donor['donorid']}}</td><td>{{ donor['weight']}}</td><td>{{ donor['eyecolor']}}</td><td> {{ donor['offspcnt'] }}</td><td>{{ donor['words']}}</td></tr> 
        {% endfor %} 
      </table>


     </div><!-- /.container -->
     
     
    </div> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
        <h3>These donors are most similar to your donor:</h3>
        <p class="lead">Distances < 2 are most likely to be the same person: </p>
      </div>

    
      <table class="table table-hover"> 
        <tr><th>Bank</th><th>ID#</th><th>Weight</th><th>Eyes</th><th>Group Size</th><th>Distance</th><th>Description</th></tr> 
        {% for donor_sim in donors_sim %} 
        <tr><td>{{ donor_sim['bankid'] }}</td><td>{{ donor_sim['donorid']}}</td><td>{{ donor_sim['weight']}}</td><td>{{ donor_sim['eyecolor']}}</td><td>{{ donor_sim['offspcnt']}}</td><td>{{ donor_sim['distance']}}</td><td><a style="font-size: 18px">{{ donor_sim['words']}}</a></td><td>
        {% endfor %} 
      </table>

     </div><!-- /.container -->


 <div class="container">
    <div class="starter-template">
        <h3>Search another donor:</h3>
    </div>
</div>
<form  action="/output" method="GET">
    <div class = "container">
        <div class = "row">
        <div class = "col-sm-2"></div>
        <div class="form-group col-sm-4 floating-label-form-group controls">
            <label for="bank_id"> Sperm Bank:</label>
            <select class="form-control" name="bank_id" id="bank_id" onchange="loadids(this.value)">
                <option value="AndroNW" name="bank_id">Andrology Northwest Laboratory</option>
                <option value="AnnArbor" name="bank_id">Ann Arbor Reproductive Assoc</option>
                <option value="Biogenetics" name="bank_id">Biogenetics</option>
                <option value="BosIVF" name="bank_id">Boston IVF</option>
                <option value="Canam" name="bank_id">Can-Am Cryo</option>
                <option value="CCB" name="bank_id">California CryoBank</option>
                <option value="Cryobio" name="bank_id">Cryobiology</option>
                <option value="CryogamCO" name="bank_id">Cryogam Colorado</option>
                <option value="Cryogen" name="bank_id">Cryogenic Laboratory</option>
                <option value="Cryos" name="bank_id">Cryos International</option>
                <option value="CryosNY" name="bank_id">Cryos NY</option>
                <option value="EBMC" name="bank_id">East Bay Medical Center</option>
                <option value="ESB" name="bank_id">European Sperm Bank USA</option>
                <option value="Fairfax" name="bank_id">Fairfax</option>
                <option value="FCCA" name="bank_id">Fertility center of CA</option>
                <option value="FertFirst" name="bank_id">Fertility First</option>
                <option value="FINO" name="bank_id">Fertility Institute of New Orleans</option>
                <option value="Follas" name="bank_id">Follas Laboratories, Inc.</option>
                <option value="GeorgiaRS" name="bank_id">Georgia Reproductive Specialists</option>
                <option value="GG" name="bank_id">Growing Generations</option>
                <option value="HC" name="bank_id">Heredity Choice</option>
                <option value="Idant" name="bank_id">Idant</option>
                <option value="IntCryo" name="bank_id">International Cryogenics</option>
                <option value="MSB" name="bank_id">Manhattan Sperm Bank</option>
                <option value="Midwest" name="bank_id">Midwest Sperm Bank</option>
                <option value="NECC" name="bank_id">New England Cryogenic Center</option>
                <option value="NoCASB" name="bank_id">Northern CA Sperm Bank</option>
                <option value="NWCryo" name="bank_id">Northwest Cryobank</option>
                <option value="OHSU" name="bank_id">Oregon Health & Science University</option>
                <option value="Paces" name="bank_id">Paces</option>
                <option value="PRS" name="bank_id">Pacific Reproductive Services</option>
                <option value="ProTech" name="bank_id">Procreative Technologies</option>
                <option value="RepGerm" name="bank_id">Repository for Germinal Choice</option>
                <option value="Reprolab" name="bank_id">Repro Lab, Inc.</option>
                <option value="ReproRes" name="bank_id">Reproductive Resources</option>
                <option value="Repromed" name="bank_id">Repromed</option>
                <option value="RochReg" name="bank_id">Rochester Regional</option>
                <option value="RMC" name="bank_id">Rocky Mountain Cryobank</option>
                <option value="TSBC" name="bank_id">The Sperm Bank of CA</option>
                <option value="Tyler" name="bank_id">Tyler Medical Center</option>
                <option value="Valley" name="bank_id">Valley Cryobank</option>
                <option value="Xytex" name="bank_id">Xytex</option>
                <option value="Zygen" name="bank_id">Zygen</option>         
            </select>
        </div>

        <div class="form-group col-sm-4 floating-label-form-group controls">
            <label for="donor_id"> Donor ID:</label>
            <select class="form-control" name="donor_id" id="donor_id">

            </select>
        </div>
        <div class = "col-sm-2"></div>
        </div>
    </div> <!-- container -->
       
    <center> 
    <div class = "container">
        <div>
            <button type="submit" class="btn btn-default btn-lg">Find this Donor!</button>
        </div>
    </div>
    </center>
</form>
    
    <script>
        function loadids(value) {
            $.ajax({
                url: "/getIDs",
                data: {pullbank: value},
                success: function(results){
                    $("#donor_id").html(results)
                }
            });
        }
    </script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->





<!--
        
    <div class="container">
      <div class="starter-template">
        <h3>Super Donor Prediction:</h3>
        <p class="lead">Donors with these features have {{the_result}} probability<br> of being "super donors" (>10 listed offspring)</p>
      </div>

-->

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->


     </div><!-- /.container -->
<!--

    <div class="container">
      <div class="starter-template">
        <h3>Popularity of Features:</h3>
        <p class="lead">Here's how this donor's features stack up in the whole group<br>
        [FIGURE HERE]</p>
      </div>
      
-->
            <!-- <img src="/myplot"> -->
            
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script src="static/js/bootstrap.min.js"></script>
    
  </body>
</html
