body {
  padding-top: 50px;
  background: #afd7d7
  /* background: #b3cccc; */
  /* background: #94b8b8; */
  /* background: #79d2a6; */
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
table {
  font-size: 20px;
}